* {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

:root {
	--main-color: #ff9900;
	--main-active-color: #e1670e;
	--main-font-color: #333;
}
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
main,
section {
	margin-bottom: 100px;
}
.btn {
	padding: 20px 38px;
	background-color: var(--main-color);
	color: #fff;
	font-weight: 700;
	border: 0px solid transparent;
	outline: 0px solid transparent;
}
.container {
	max-width: 1920px;
	padding-left: 75px;
	padding-right: 75px;
	margin: 0 auto;
}
/* Header */
.header {
	position: relative;
	height: 100px;
}
.header_logo,
.main-logo {
	background: url("../img/header-logo.png") no-repeat center;
	background-size: cover;
	width: 224px;
	height: 72px;
}
.header-wrap {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.nav-list {
	display: flex;
	align-items: center;
	height: 100%;
}
.header-burger {
	position: relative;
	display: block;
}
.header-burger::before,
.header-burger::after,
.header-burger {
	width: 30px;
	height: 3px;
	background: #333;
	transition: all 0.5s ease-in-out;
}
.header-burger::before {
	position: absolute;
	top: -8px;
	left: 0;
	content: "";
}
.header-burger::after {
	position: absolute;
	bottom: -8px;
	left: 0;
	content: "";
}
.header-burger_active {
	background: transparent;
}
.header-burger_active::before {
	transform: rotate(45deg);
	top: 0;
}
.header-burger_active::after {
	transform: rotate(130deg);
	top: 0;
}
.header_nav {
	margin-left: auto;
}
.nav-list {
	transition: all 0.5s ease-in-out;
}
ul.nav-list.nav-list_active {
	position: absolute;
	top: 0;
	left: 0;
	display: flex !important;
	width: 320px;
	height: 600px;
	background: #fff;
	color: #333;
	z-index: 3;
	padding: 20px;
	align-items: center;
	justify-content: center;
	transform: translateY(0%);
	transition: all 0.5s ease-in-out;
}
ul.nav-list.nav-list_active .nav-list_item {
	padding: 10px;
	font-size: 34px;
	text-align: center;
	width: 100%;
	margin-right: 0;
}
.nav-list_item {
	margin-right: 75px;
}
.nav-search .nav-search_link {
	display: block;
	width: 25px;
	height: 25px;
}
.nav-list_link {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--main-font-color);
	padding-bottom: 10px;
}
/* Main */
.main .container {
	position: relative;
}
.swiper-container {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.swiper-button-next,
.swiper-button-prev {
	color: var(--main-color);
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: var(--main-color);
}
.swiper-slide img {
	height: 100%;
}
.main-banner {
	position: relative;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	min-height: 620px;
	padding: 100px 0 80px 80px;
}
.main-title {
	/* Проектные решения любой сложности */
	max-width: 840px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 70px;
	line-height: 86px;
	margin-bottom: 32px;
	color: #ffffff;
	margin-top: 0;
	z-index: 2;
}
.main-subtitile {
	/* Есть над чем задуматься: базовые сценарии поведения пользователей и по сей день остаются уделом проектантов */

	font-weight: 700;
	font-size: 23px;
	line-height: 29px;
	max-width: 800px;
	color: #ffffff;
	margin-bottom: 90px;
	z-index: 2;
}
.main-button {
	/* Frame 3 */

	/* Auto Layout */
	max-width: 280px;
	padding: 25px 15px;
	background: var(--main-color);
	border: none;
	margin: 0;
	font-size: 23px;
	line-height: 29px;
	text-align: center;
	color: #ffffff;
	font-weight: 700;
	z-index: 2;
}
/* About */
.general-title {
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	margin-bottom: 40px;

	color: var(--main-font-color);
}
.about .general-title {
	margin-bottom: 25px;
}
.about-text {
	font-size: 16px;
	line-height: 33px;
	max-width: 1230px;
	margin-bottom: 30px;
}
.tooltip {
	display: inline-block;
	height: 18px;
	width: 18px;
	background-image: url(../img/tooltip.svg);
	background-repeat: no-repeat;
}
.about-banner {
	display: flex;
}
.about-banner_image {
	position: relative;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1 1 50%;
}
.about-banner_img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.about-banner_text {
	display: flex;
	justify-content: space-between;
	padding: 45px 70px 45px 55px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 700;
	color: #fff;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.about-banner_descr {
	margin-right: 65px;
}
.about-banner-link {
	display: block;
	align-self: center;
	padding: 10px 35px;
	color: #fff;
	border: 2px solid var(--main-color);
}
.about-banner_item {
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 20px 10px 300px;
	border: 1px solid #cacaca;
	min-height: 295px;
	justify-content: center;
	text-align: left;
}
.about-banner_title {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 10px;
}
.about-banner_descr {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
}
.item1 {
	background: url("../img/section1-2.svg") no-repeat;
	background-position: 9% 48%;
	margin-bottom: 30px;
}
.item2 {
	background: url("../img/section1-1.svg") no-repeat;
	background-position: 9% 38%;
}

/* HOW */
.how .general-title {
	margin-bottom: 60px;
}
.how-buttons .tab-button-active {
	color: var(--main-active-color);
}
.how-button {
	color: var(--main-font-color);
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
.how-listitem {
	display: none;
}
.tab-content-active {
	display: block;
}
.how-button:active {
	color: var(--main-active-color);
}
.how-buttons {
	margin-bottom: 50px;
}
/* .how-listitem:not(:first-child) {
	display: none;
} */
.how-text {
	max-width: 760px;
	font-size: 16px;
	line-height: 32px;
	flex: 1 1 50%;
	margin-right: 140px;
}
.how-wrapper {
	display: flex;
}
.how-img {
	background-size: cover;
	max-width: 870px;
	min-height: 465px;
	flex: 1 1 50%;
}
.how-img1 {
	background: url("../img/section2-1.jpg") no-repeat center;
}
.how-img2 {
	background: url("../img/section2-2.jpg") no-repeat center;
}
.how-img3 {
	background: url("../img/section2-3.jpg") no-repeat center;
}
.how-img4 {
	background: url("../img/section2-4.jpg") no-repeat center;
}
.btn1 {
	margin-right: 30px;
	border: 1px solid var(--main-color);
}
.btn2 {
	color: var(--main-font-color);
	background-color: transparent;
	border: 1px solid var(--main-font-color);
	padding: 20px 36px;
}
.how-descr {
	display: block;
	margin-bottom: 60px;
}
.how-title {
	margin-top: 0;
	font-size: 24px;
	margin-bottom: 0;
}
/* FAQ */
.faq-answer {
	display: none;
	font-size: 16px;
	font-weight: normal;
	margin-top: 30px;
}
.faq-listitem {
	position: relative;
	padding: 41px 0;
	border-bottom: 1px solid #cacaca;
	font-size: 24px;
	font-weight: 700;
}
.faq-link {
	position: absolute;
	right: -15px;
	top: 20px;
	width: 50px;
	height: 50px;
	background-image: url("../img/section3-plusIcon.svg");
	background-repeat: no-repeat;
	background-color: #ececec;
	background-position: center;
	border-radius: 50%;
	transition: transform 1s ease;
	border: none;
	outline: none;
}

.faq-link_clicked {
	transform: rotate(45deg);
}
/* footer */
.footer * {
	color: #cacaca;
}
.footer .container {
	background-color: #222;
	padding: 55px 0 80px 75px;
}
.footer-wrapper {
	display: flex;
}
.footer-title {
	margin-top: 0;
	margin-bottom: 25px;
}
.footer-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-nav_li:first-child {
	background: url("../img/footer-logo.png") no-repeat center;
	background-size: cover;
	width: 224px;
	height: 72px;
	margin-bottom: 20px;
}
.footer-nav_link {
	font-size: 18px;
	line-height: 35px;
	font-weight: 600;
}
.footer-social_link {
	display: block;
	height: 60px;
	width: 60px;
}
.footer-social {
	display: flex;
}
.footer-social_link:not(:last-child) {
	margin-right: 25px;
}
.fb {
	background-image: url(../img/fb.svg);
}
.vk {
	background-image: url(../img/vk.svg);
}
.instagram {
	background-image: url(../img/instagram.svg);
}
.footer-text {
	max-width: 360px;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	align-self: center;
}
.footer-links {
	margin-right: 350px;
}
.footer-form {
	display: flex;
	flex-direction: column;
	margin-right: 238px;
	padding-top: 15px;
}
.footer-form_input::placeholder {
	color: #cacaca;
}
.footer-form_input:not(:last-child) {
	margin-bottom: 27px;
}
.footer-form_input {
	padding: 20px;
	background-color: #414141;
	border: none;
}
input.name.footer-form_input {
	width: 570px;
}
.textarea {
	resize: none;
	margin-bottom: 30px;
	max-height: 150px;
}
.footer-form_button {
	margin-right: 25px;
	margin-bottom: 20px;
}
.footer-check_label {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
}
.footer-check_label::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #cacaca;
	cursor: pointer;
	background: url("../img/checked.png") no-repeat;
	background-size: 0;
	background-position: 50% 40%;
}
.footer-form_buttons {
	display: flex;
	align-items: center;
}
.footer-form_check {
	display: none;
	margin-right: 10px;
}
.footer-form_check:checked + .footer-check_label::before {
	background-size: 10px;
}
button.btn.footer-form_button {
	padding: 20px 50px;
	margin-bottom: 0;
}
