/*Pixel Perfect Layout for  1920*/
@media (min-width: 1910px) {
  .header-wrapper .container {
    justify-content: flex-start;
    padding: 0 135px 0 160px;
  }
  .header-wrapper .logo {
    margin-right: 180px;
  }
  .header_list {
    margin-right: 273px;
  }
  .main-search {
    margin-left: 286px;
  }
  .search-input {
    width: 220px;
  }
  .login {
    padding-left: 23px;
  }
  .login::before {
    left: 3px;
  }
  .hero-descr {
    padding-left: 4px;
    max-width: 570px;
    margin-bottom: 93px;
  }
  .hero-btn {
    padding: 22px 37px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 62px;
  }
  .about .general-title {
    margin-bottom: 16px;
  }
  .galery {
    padding: 80px 0 55px;
  }
  .galery .general-title {
    margin-bottom: 22px;
  }
  .galery-descr {
    margin-bottom: 14px;
  }
  .galery-filters {
    flex-basis: 30%;
    padding-right: 0;
  }
  .gallery-filter .choices__list--single .choices__item {
    text-align: left;
    font-size: 16px;
  }
  .gallery-filter .choices__inner {
    padding-left: 10px;
  }
  .gallery-slides {
    margin-top: -98px;
  }
  .pagination-gallery > .slick-arrow {
    margin-right: 20px;
  }
  .pagination_gallery,
  .pagination_books {
    margin-right: 20px;
  }
  div.galery-slide > div > a.galllery-slide {
    width: 30%;
  }
  .gallery-descr.bottom {
    padding-bottom: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    max-width: 400px;
  }
  .catalog {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .catalog-info {
    flex-basis: 48%;
    margin-right: 40px;
  }
  .ui-accordion .ui-accordion-header::after {
    right: -10px;
  }
  .ui-accordion .ui-accordion-content {
    padding-left: 0px;
    padding-top: 31px;
    justify-content: flex-start;
  }
  .ui-accordion .ui-accordion-content > .row:not(:last-child) {
    margin-right: 55px;
  }
  .ui-accordion .ui-accordion-content > .row:nth-child(2) {
    margin-right: 75px;
  }
  span.ui-accordion-header-icon {
    display: none;
  }
  .catalog .general-title {
    margin-bottom: 14px;
  }
  .catalog-wrapper {
    margin-bottom: 93px;
  }
  .catalog .container {
    padding: 0 150px 0 160px;
  }
  .events > .container {
    padding: 0 140px 0 160px;
  }
  .events > .general-title {
    margin-bottom: 14px;
  }

  .events-wrapper {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  a.events-link {
    line-height: 25px;
    bottom: 40px;
    left: 51px;
  }
  .events-card {
    margin-left: 0;
    flex-basis: auto;
    width: 500px;
    max-width: 500px;
  }
  .events-card:not(:nth-child(3)) {
    margin-right: 50px;
  }
  .events-heading {
    margin-bottom: 4px;
  }
  .img-descr {
    /* max-width: 125px; */
    margin-right: 16px;
    margin-bottom: 3px;
  }
  .events-img {
    margin-bottom: 17px;
  }
  .books {
    padding: 80px 0 60px;
  }
  .books > .container > .general-title {
    margin-bottom: 20px;
  }
  .books > .container {
    padding: 0 140px 0 160px;
  }
  .book-slides_wrapper {
    margin-top: -50px;
    padding-left: 30px;
  }
  .books-wrapper {
    align-items: flex-start;
  }
  .filters-heading {
    margin-bottom: 6px;
  }
  .filters-label {
    margin-bottom: 7px;
    padding-left: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
  }
  .filters-list {
    margin-bottom: 30px;
  }
  .filters-pricing > .filters-heading {
    margin-bottom: 15px;
  }
  .pricing-par {
    padding: 15px 0 10px 10px;
  }
  .books-pagination {
    padding-left: 20px;
  }
  .projects {
    padding-top: 80px;
    padding-bottom: 73px;
  }
  .projects > .container > .general-title {
    margin-bottom: 15px;
  }
  a.project-logo {
    display: flex !important;
    width: 450px;
    height: 150px;
  }
  .projects-slider > .slick-list > .slick-track {
    display: flex;
    justify-content: space-between;
  }
  .projects-wrapper {
    width: 102%;
  }
  .contacts {
    padding-bottom: 5px;
  }
  .contacts-info > .container {
    padding-left: 0;
    padding-right: 120px;
    justify-content: flex-start;
    margin-top: 130px;
  }
  .contacts-descr {
    margin-bottom: 35px;
  }
  .contacts-call {
    margin-bottom: 15px;
  }
  .contacts-input {
    margin-bottom: 25px;
  }
  .contacts-input:nth-child(2) {
    margin-bottom: 22px;
  }
  .contacts-form > .btn {
    padding: 15px 34px;
    margin-bottom: 38px;
  }
  a.whatsapp,
  a.tg {
    height: 100%;
  }
  a.whatsapp {
    margin-right: 18px;
  }
  footer.footer > .container {
    padding: 0 140px 0 160px;
  }
  .footer-media:not(:last-child) {
    margin-right: 14px;
  }
}

/*End of Pixel Perfect*/

@media (min-width: 481px) {
  .dn1024:not(.main-search) {
    display: none !important;
  }
  .projects-tooltip:hover .tooltip-text {
    display: inline-block;
  }
}
@media (min-width: 1300px) {
  .dn1024 {
    display: none !important;
  }
  .projects-tooltip:hover .tooltip-text {
    display: inline-block;
  }
}
@media (max-width: 1300px) {
  .container {
    padding: 0 50px;
  }
  .header .container {
    position: relative;
  }
  .header_list,
  .header_login {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .burger {
    display: block;
    z-index: 5;
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-search {
    margin-left: auto;
  }
  .search-input {
    width: 0;
    padding: 0;
    transition: width 0.3s ease-in;
  }
  .search-input_active::placeholder {
    color: transparent;
  }
  .search-input_active {
    width: 260px;
    padding-left: 20px;
    transition: width 0.3s ease-in;
    color: #fff;
  }
  .header_list-active {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    justify-content: flex-start;
    padding-left: 50px;
  }
  .header_list-active .header_listitem {
    margin-bottom: 30px;
  }
  .burger-active {
    height: 3px;
    width: 28px;
    background-color: transparent;
    cursor: pointer;
  }
  .burger-active::before,
  .burger-active::after {
    height: 3px;
    width: 30px;
    background-color: #fff;
    cursor: pointer;
  }
  .burger-active::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-active::after {
    bottom: 0;
    transform: rotate(135deg);
  }
  .headerLog-active {
    display: flex;
    width: 257px;
    height: 60px;
    border: 2px solid #9d5cd0;
    box-sizing: border-box;
    border-radius: 100px;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .hero {
    padding-top: 100px;
  }

  .dn1200 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .main,
  section.main-section {
    min-height: 768px;
  }
  section.main-section {
    padding-top: 0;
  }
  .contacts-input {
    width: 335px;
  }
  .events-card {
    flex: 0 1 45%;
  }
  .projects-slider .slick-track {
    display: flex;
  }
  .projects-slider .slick-slide {
    margin-right: 20px;
  }
  .search-button {
    width: 27px;
    height: 29px;
    margin-right: 0;
  }
  .hero {
    padding-top: 112px;
  }
  .hero-heading {
    margin-bottom: 10px;
  }
  .hero-descr {
    max-width: 660px;
    margin-bottom: 135px;
  }
  .hero-btn {
    padding: 20px 33px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
  .main,
  section.main-section {
    min-height: 668px;
  }
  section.about {
    padding-top: 80px;
    padding-bottom: 62px;
  }
  .about .general-title {
    margin-bottom: 15px;
  }
  .galery-filters {
    flex-basis: 41%;
  }
  .galleryImg {
    max-width: 280px;
  }
  .gallery-slide {
    width: 41%;
  }
  .catalog-articles {
    display: none;
  }
  .catalog-articles_mobile {
    display: flex;
    font-size: 16px;
    line-height: 32px;
  }
  .ui-accordion .ui-accordion-header::after {
    right: 0;
  }
  a.accordeon-link {
    letter-spacing: -0.3px;
  }
}
@media (min-width: 1014px) and (max-width: 1024px) {
  .galery {
    padding: 50px 0 45px 0;
  }
  .galery .general-title {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .galery-descr {
    margin-bottom: 15px;
  }
  .galery-filters {
    justify-content: flex-start;
  }
  .gallery-filter {
    margin-bottom: 368px;
  }
  .gallery-descr.bottom {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  .gallery-filter .choices__list--single .choices__item {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
  }
  .gallery-filter .choices__inner {
    padding-left: 10px;
  }
  .gallery-filter .choices[data-type*="select-one"]:after {
    right: 18.5px;
    margin-top: -0.5px;
  }
  .gallery-filter .choices[data-type*="select-one"]:after {
    width: 8.07px;
    height: 8.07px;
  }
  .gallery-slides {
    margin-top: -97px;
  }
  .gallery-slick-prev {
    margin-right: 20px;
  }
  .pagination_gallery {
    margin-right: 20px;
  }
  /*catalog*/
  .catalog {
    padding: 75px 0 80px;
  }
  .lang {
    padding-left: 34px;
    margin-top: 5px;
  }
  .lang-link {
    width: 46px;
    height: 46px;
  }
  .divWrap {
    width: 66px;
    height: 66px;
  }
  .lang-list:not(:last-child) {
    margin-right: 30px;
  }
  span.ui-accordion-header-icon {
    display: none;
  }
  .ui-accordion .ui-accordion-header {
    padding: 40px 50px 42px 0;
  }
  .ui-accordion .ui-accordion-content {
    padding: 30px 0;
  }
  .row1 {
    margin-right: 62px;
  }
  .events {
    padding-top: 23px;
  }
  .events .general-title {
    margin-bottom: 13px;
  }
  .events-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 43px;
  }
  .btn-empty {
    padding: 15px 34px;
  }
  .events-card {
    margin: 0;
    min-width: 290px;
    min-height: 690px;
  }
  .event-card_container {
    padding: 0 35px 27px 35px;
  }
  .events-img {
    min-height: 200px;
    margin-bottom: 17px;
  }
  .img-descr {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    margin-right: 26px;
    letter-spacing: -0.4px;
    margin-bottom: 3px;
  }

  .events-card:nth-child(1) .img-descr {
    margin-right: 17px;
    letter-spacing: -0px;
  }
  .events-card:nth-child(2) .img-descr {
    margin-right: 19px;
  }
  .events-card:nth-child(3) .img-descr {
    margin-right: 19px;
    letter-spacing: -0.3px;
  }
  .events-heading {
    margin-bottom: 3px;
  }
  .events-card:nth-child(1) .event-card_container {
    padding: 0 15px 55px 34px;
  }
  .events-card:nth-child(2) .event-card_container {
    padding: 0 15px 55px 34px;
  }
  .events-card:nth-child(3) .event-card_container {
    padding: 0 15px 55px 35px;
  }
  .events-card:not(:last-child) {
    margin-right: 27px;
  }
  a.events-link {
    line-height: 27px;
  }
  /*books*/
  .books {
    padding: 80px 0 60px;
  }
  .books-filters {
    padding-left: 40px;
  }
  .books-filters .general-title {
    margin-bottom: 20px;
    margin-top: -8px;
  }
  .filters-label {
    margin-bottom: 13px;
    padding-left: 25px;
    letter-spacing: 1.1px;
  }
  .filters-list {
    margin-bottom: 26px;
  }
  .book-slides {
    padding-top: 35px;
    padding-left: 10px;
  }
  .books-pagination {
    margin-left: 15px;
  }
  .books-slick-prev {
    margin-right: 16px;
  }
  .pagination_books {
    margin-right: 19px;
  }
  .books-card {
    max-width: 290px;
    margin-left: -3px;
  }
  .books-link {
    margin-bottom: 9px;
  }
  .booksImg {
    max-width: 290px;
  }
  .books-title {
    letter-spacing: -0.2px;
  }
  .books-btn {
    padding: 9px 18px;
  }
  /*projects*/
  .projects {
    padding: 80px 0 70px;
  }
  .projects .general-title {
    margin-bottom: 17px;
  }
  .projects-slick-prev {
    margin-right: 10px;
  }
  .projects-slick-next {
    margin-left: 10px;
  }
  .projects-img {
    min-width: 384px;
  }
  .projects-slider .slick-slide {
    margin-right: 37px;
  }
  /*Contacts*/
  .contacts .general-title {
    margin-bottom: 19px;
  }
  .contacts-info .container {
    padding-left: 0;
    display: block;
    padding-top: 123px;
  }
  .contacts-descr {
    margin-bottom: 35px;
  }
  .contacts-call {
    margin-bottom: 15px;
  }
  .contacts-input {
    margin-bottom: 22px;
  }
  .contacts-messengers a img {
    height: 60px;
    width: 60px;
  }
  .whatsapp {
    margin-right: 25px;
  }
  .footer-media svg {
    width: 60px;
    height: 60px;
  }
  .footer .container {
    padding: 0 45px 0 50px;
  }
  .media-item:not(:last-child) {
    margin-right: 17px;
  }
}
@media (max-width: 768px) {
  .galery-wrapper {
    display: flex;
    flex-direction: column;
  }

  .gallery-filter {
    margin-bottom: 120px;
  }
  .catalog-wrapper {
    flex-direction: column-reverse;
  }
  .lang-list:not(:last-child) {
    margin-right: 40px;
  }
  .events-card {
    flex-basis: 80%;
  }
  .books-wrapper {
    flex-direction: column;
  }
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (max-width: 678px) {
  .hero-heading {
    font-size: 52px;
  }
  .catalog-heading {
    flex-direction: column;
  }
  .lang {
    padding-left: 0;
    margin-top: 0;
  }
  .contacts-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .contacts-wrapper > .container {
    padding-left: 0;
  }
  .contacts {
    padding-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .hero-heading {
    font-size: 32px;
    line-height: 42px;
  }
  .hero {
    min-height: 600px;
  }
  .pagination {
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .dn480 {
    display: none;
  }
  .container {
    padding: 0 15px;
  }
  .hero {
    min-height: 355px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-descr {
    margin-bottom: 50px;
  }
  .main,
  section.main-section {
    min-height: 355px;
  }
  .accordeon-text {
    flex-direction: column;
  }
  .lang-link img {
    width: 30px;
    height: 30px;
  }
  .lang-list:not(:last-child) {
    margin-right: 30px;
  }
  .ui-accordion {
    margin-bottom: 50px;
  }
  .books-pagination {
    display: none;
  }
  .pricing-wraper {
    margin-bottom: 50px;
  }
  .books-filters .choices {
    margin-bottom: 20px;
  }
  .tooltip-close .tooltip-text {
    display: inline-block;
  }
  .footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.btn-empty:hover {
  background: #9d5cd0;
  border: 2px solid transparent;
  color: #fff;
}
.btn-empty:active {
  background: #7943a4;
  border: 2px solid #d1a9f0;

  color: #fff;
}
.btn-full {
  border: 3px solid transparent;
  outline: none;
}
.btn-full:hover {
  border: 3px solid #d1a9f0;
}

.btn-full:active {
  position: relative;
  border: 3px solid transparent;
}
.btn-full:active::after {
  position: absolute;
  content: "";
  width: 107%;
  height: 133%;
  border: 3px solid #d1a9f0;
  border-radius: 100px;
  top: -12px;
  left: -12px;
  bottom: 0;
  right: 0;
}
.slick-arrow {
  border: 2px solid transparent;
}
.slick-arrow:hover {
  background: #d1a9f0;
}

.slick-arrow:active {
  border: 2px solid #9d5cd0;
}
.ui-accordion .ui-accordion-header:hover::after {
  background-color: #d1a9f0;
  border: 2px solid transparent;
}
.ui-accordion .ui-accordion-header:active::after {
  border: 2px solid #9d5cd0;
  background-color: #d1a9f0;
}
.ui-accordion-header:hover {
  color: #9d5cd0;
}
.ui-state-focused:visited::after {
  background-color: #d1a9f0;
}
.ui-state-focused:visited {
  background-color: #9d5cd0;
  color: #fff;
}
